
@font-face { font-family: avenir-it; src: url('avenir/AvenirNextLTPro-It.otf') } 
@font-face { font-family: avenir-reg; src: url('avenir/AvenirNextLTPro-Regular.otf') } 
@font-face { font-family: avenir-b; src: url('avenir/AvenirNextLTPro-Bold.otf') } 

h5{
	color: #c0f235;
	margin-bottom: 0 px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 60px;
	padding:0 px
}


h1{
	font-family: 'avenir-reg', sans-serif;
	font-size: 50px;
	text-shadow: 1px lightgray;
	letter-spacing: 7px;
	margin-bottom: 15px;
	margin-top: -5px;
	padding:0 px;
	margin-left: 40px;
	margin-right: 40px;
	font-weight: bold;
}
h3{
	font-family: 'Nunito', sans-serif;
	text-shadow: 0.3px 0.3px 0.5px lightslategrey;
	text-shadow: 0.1;
	margin-bottom: 15px;
	margin-left: 40px;
	margin-right: 40px;
	font-weight: normal;
	letter-spacing: 5px;
	color: gray;
	font-size: 15px;

}

body{
	color: whitesmoke;
	background-color: black;
	margin-left: 0;
	margin-right: 0;
	font-family:'avenir-reg', sans-serif;
}

a{
	text-decoration: none;
	color: ghostwhite;
	padding-top: 40 px;
}

a:hover{
	opacity: 0.8;
}

.container{
	/*max-width: 2080px;*/
}

.smaller_section{
	min-height: 5vh;
	font-size: 10px;
	background-image: url(images/logo_inv.png);
	background-repeat: no-repeat;
	background-size: 30px;
	text-align: right;
	padding-top: 10 px;
	margin-left: 40px;
	margin-right: 10px;
}

.header{
/*	font-family: ;
*/
}

.first_section{
	min-height: 65vh;
	background-image: url(images/margarita2.jpg);
	background-size: cover;
	background-position: top;

}

.second_section{
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
}

.image_row{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: -20px;
}

.item-a {
  width:  65%;
  height: 91%;
}

.item-b {
  width: 31%;
  height: 91%;
}


.item-c {
  width: 28%;
 	height: 90%;
}


.item-d {
  width:  68%;
}


.third_section{
	font-family: 'avenir-reg', sans-serif;
	font-size: 40px;
	text-align: center;
	text-shadow: 0.5px 0.5px 0.5px lightgrey;
	letter-spacing: 2px;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 40px;
	margin-right: 40px;
	/*font-style: italic;*/
	color: lightgrey;
}

.recipt{
	width: 90%;
}

.grey_section{
	font-family: 'avenir-it', sans-serif;
	font-size: 40px;
	letter-spacing: 2 px;
	min-height: 15vh;
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
	display: flex;
	text-align: center;
	background-color: #4d494b;
	/*font-style: italic;*/

}


.footer{
/*	font-family: ;
*/
}